<header class="" id="top">
  <div class="">
    <div class="container">
      <!-- <i class="fa fa-cubes"></i> -->
      <br>
      <h1>Tím Datack</h1>
      <h2>Majetkové priznania verejných funkcionárov</h2>
      <p></p>
    </div>
  </div>
</header>

<section class="container">

  <section>

    <h1>O nás</h1>

    <div class="content">
      <p class="lead">Lorem ipsum dolor.</p>
      <p>Lorem ipsum dolor.. </p>
    </div>
  </section>
</section>

<footer>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="centered">
        <a href="https://github.com/akulisek/datahack-hackathon"><i class="fa fa-github"></i></a>
      </h1>
      <p class="centered">
        <a href="http://www.datahack.sk/">
          DataHack @ FIIT STU 2016
        </a>
      </p>
    </div>
  </div>
</footer>